body {
  font-family: 'Proxima Nova Rg';
  box-sizing: border-box;
  font-size: 16px;
  font-weight: initial;
  background: linear-gradient(to right, rgb(246, 113, 162), rgb(253, 141, 110));

}

.Container {
  box-sizing: border-box;
  max-width: 64%;
  padding: 5px;
  margin: auto;
}


.profile-border {
  box-sizing: border-box;
  background: linear-gradient(to right bottom, rgb(254, 206, 157), rgb(253, 131, 154));
  padding: 15px;
  border-radius: 60px;
  /* max-width: 64%; */
  /* margin: auto; */
  margin-bottom: 15px;
  box-shadow: -4px 4px 14px purple;
}

.profile {
  box-sizing: border-box;
  display: flex;
  margin: auto;
  /* position: static; */
  border-radius: 50px;
  width: 100%;
  background: linear-gradient(to right, rgb(250, 136, 143), rgb(252, 206, 238));
}

.profile-ph1,
.profile-ph2 {
  max-width: 100%;
    /* width: 300px;
    height: 300px; */
  border-radius: 15px;

}

.profile-ph1 {
  margin-right: 5px;
}

.profile-ph2 {
  box-sizing: border-box;
  border-radius: 1px solid black;
}

.profile-ph1div,
.profile-ph2div {
  /* margin: -50px; */
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.profile-text {
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 100%;
  font-weight: bold;
}

.profile-textblock1,
.profile-textblock2 {
  background: linear-gradient(rgb(254, 220, 52), rgb(255, 112, 156));
  margin: auto;
  margin-top: 5px;
  padding: 5px;
  border-radius: 40px;
  width: 95%;
  color: snow;
  text-align: center;
  letter-spacing: initial;
  transform: scale(1);
  transition: all ease 0.8s;
}

.profile-textblock1:hover,
.profile-textblock2:hover {
  transform: scale(1.2);
}

.profile-textblock1 h1 {
  text-align: center;
  margin-bottom: 19px;
  text-transform: uppercase;
  font-size: 26px;
}

.profile-textblock1 p {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 14px;
}

.profile-textblock2 h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.profile-social {
  
  background-color: aqua;
}

.profile-social-together {
  display: flex;
  width: 100%;
  margin-top: 5px;
}

.profile-social-number,
.profile-social-email {
  text-align: left;
  margin-left: 5px;
  /* letter-spacing: 5px; */
}

.profile-social-number i,
.profile-social-email i {
  margin-right: 10px;
  color: black;
  text-align: left;
  font-size: 16px;

}

.github,
.instagram,
.telegram {
  width: 33%;
}

.github a,
.instagram a,
.telegram a {
  transition: all 0.3s ease;
  font-size: 35px;
  color: black;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 14px black
}

.github a:hover {
  transition: all 0.3s ease;
  color: snow;
}

.telegram a:hover {
  transition: all 0.3s ease;
  color: rgb(36, 156, 216);
}

.instagram a:hover {
  background-color: rgb(255, 169, 199);
  background-image: linear-gradient(to left bottom, rgb(135, 0, 184), rgb(231, 6, 209), yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in;
}


.info-border {
  box-sizing: border-box;
  background: linear-gradient(to right bottom, rgb(254, 206, 157), rgb(253, 131, 154));
  padding: 15px;
  border-radius: 60px;
  /* width: 64%; */
  margin: auto;
  margin-top: 5px;
  box-shadow: -4px 4px 14px yellow;
}

.info {
  display: flex;
  width: 100%;
  margin: auto;
  border-radius: 50px;
  background-color: rgb(255, 221, 201);
}

.info-text {
  padding: 5px;
  color: snow;
  text-align: center;
}
.form{ 
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px 0 0 0;
}
.button {
  padding: 5px;
  width: 300px;
  height: 80px;
  max-width: 300px; 
  max-height: 80px; 
  border-radius: 50px;
  background-color: khaki;
  border: 4px solid white;
  font-size: 40px;
  font-family: "Proxima Nova Rg";
  color: aliceblue;
  text-shadow: 0px 0px 4px black;
  transition: all 0.5s ease;
  position: relative;
  top: 0px;
}
.button:hover {
  position: relative;
  top:2px;
  transition: all 0.5s ease;
  padding: 0 20px;
  background-color: rgba(240, 230, 140, 0.7);
  box-shadow: 1px 1px 14px black;
  color: black;
  text-shadow: 3px 0px 2px white;
}
.button:active{
  background-color: rgba(240, 230, 140, 0.4);
  box-shadow: 1px 1px 14px grey;
  border: 4px solid black
}
.inputtext {
  max-width: 250px;
  max-height: 50px;
  border-radius: 50px;
  font-size: 40px;
  border: 4px solid darkgoldenrod;
  padding-left: 10px;
  transition: all 0.5s ease-in;
}
.inputtext:focus {
  transition: all 0.5s ease-in;
  border: 4px solid darkgreen;
  box-shadow: 1px 1px 14px yellow;
}
@media (max-width:1200px){
  .Container {
    max-width: 970px;
  }
  
  
}
@media (max-width:992px){
  .Container {
  max-width: 100%;
}

}
@media (max-width:767px){
  .profile-text,
  .info-border {
    max-width: none;
  }
  .profile {
    display: flex;
    flex-wrap: wrap ;
    flex-direction: column;
  }
  .profile-social-number,
  .profile-social-email {
    display: flex;
    justify-content: center;
  }
  .form{ 
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .inputtext,
  .button {
    max-width: 200px;
    max-height: 30px;
      font-size: 24px;
      padding: 0px;
  }
  .inputtext {
    max-width: 150px;
    border: 1px solid darkgoldenrod;
  }
  .button {
    border: 1px solid white;
  }
}
@media (max-width:320px) {
  .button,
  .inputtext {
    font-size: 14px;
  }
  .button {
    min-width: 60px;
  }
  .profile-text,
  .profile-textblock1,
  .profile-textblock2 {
    max-width: 100%;
  }
}
.moveblock {
  width: 280px;
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-start;
}
.gradblock {
  background-color: aliceblue;
  min-height: 80px;
  min-width: 80px;
  border-radius: 50%;
  animation-name: move-grad-block;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction:alternate;
  position: relative;
  left: 0px;
}
.gradblock:hover {
  transition: all ease 0.5s;
  background-color: pink;
  border: 1px solid white;
}
@keyframes move-grad-block {
  0%{
    left: 0;
  }
  50% {
    background-color: rgb(161, 78, 250);
    box-shadow: 0px 0px 14px purple;
    
  }
  100%{
    left: 200px;

  }
}